ftfy==6.2.0
matplotlib==3.7.4
numpy==1.20.0
opencv_python_headless==4.5.5.64
pandas==1.4.4
Pillow==10.2.0
regex==2023.12.25
scipy==1.9.1
seaborn==0.13.2
setuptools==68.2.2
tqdm==4.66.4
protobuf==3.20.0
wandb==0.16.6
omegaconf==2.0.6
Cython==3.0.8       
